HubOne.XPM.PS/HubOne.XPM.PS/Service References/TemplateSvc/TemplateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TemplateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/TemplateService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/TemplateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/TemplateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITemplate_GetAllTemplates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTemplates" />
  </wsdl:message>
  <wsdl:message name="ITemplate_GetAllTemplates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplate_GetAllTemplatesPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTemplatesPaged" />
  </wsdl:message>
  <wsdl:message name="ITemplate_GetAllTemplatesPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTemplatesPagedResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplate_ClearCacheOfType_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfType" />
  </wsdl:message>
  <wsdl:message name="ITemplate_ClearCacheOfType_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="ITemplate">
    <wsdl:operation name="GetAllTemplates">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplate/GetAllTemplates" message="tns:ITemplate_GetAllTemplates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplate/GetAllTemplatesResponse" message="tns:ITemplate_GetAllTemplates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTemplatesPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplate/GetAllTemplatesPaged" message="tns:ITemplate_GetAllTemplatesPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplate/GetAllTemplatesPagedResponse" message="tns:ITemplate_GetAllTemplatesPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearCacheOfType">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplate/ClearCacheOfType" message="tns:ITemplate_ClearCacheOfType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplate/ClearCacheOfTypeResponse" message="tns:ITemplate_ClearCacheOfType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITemplate" type="tns:ITemplate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTemplates">
      <soap:operation soapAction="http://tempuri.org/ITemplate/GetAllTemplates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTemplatesPaged">
      <soap:operation soapAction="http://tempuri.org/ITemplate/GetAllTemplatesPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCacheOfType">
      <soap:operation soapAction="http://tempuri.org/ITemplate/ClearCacheOfType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TemplateService">
    <wsdl:port name="BasicHttpBinding_ITemplate" binding="tns:BasicHttpBinding_ITemplate">
      <soap:address location="http://modernpractice2013.cloudapp.net/TemplateService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>