HubOne.XPM.PS/HubOne.PS/Service References/SupplierSvc/SupplierService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SupplierService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/SupplierService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/SupplierService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/SupplierService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISupplier_GetTotal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotal" />
  </wsdl:message>
  <wsdl:message name="ISupplier_GetTotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplier_GetSearchTotal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchTotal" />
  </wsdl:message>
  <wsdl:message name="ISupplier_GetSearchTotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchTotalResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplier_GetAllSuppliers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSuppliers" />
  </wsdl:message>
  <wsdl:message name="ISupplier_GetAllSuppliers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplier_GetAllSuppliersPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSuppliersPaged" />
  </wsdl:message>
  <wsdl:message name="ISupplier_GetAllSuppliersPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSuppliersPagedResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplier_GetSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplier_GetSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplier_AddSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplier_AddSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplier_UpdateSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplier_UpdateSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplier_ArchiveSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:ArchiveSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplier_ArchiveSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArchiveSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplier_DeleteSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplier_DeleteSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplier_GetSupplierContact_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierContact" />
  </wsdl:message>
  <wsdl:message name="ISupplier_GetSupplierContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierContactResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplier_AddSupplierContact_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSupplierContact" />
  </wsdl:message>
  <wsdl:message name="ISupplier_AddSupplierContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSupplierContactResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplier_UpdateSupplierContact_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplierContact" />
  </wsdl:message>
  <wsdl:message name="ISupplier_UpdateSupplierContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplierContactResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplier_ClearCacheOfType_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfType" />
  </wsdl:message>
  <wsdl:message name="ISupplier_ClearCacheOfType_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="ISupplier">
    <wsdl:operation name="GetTotal">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseInterface/GetTotal" message="tns:ISupplier_GetTotal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseInterface/GetTotalResponse" message="tns:ISupplier_GetTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSearchTotal">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseInterface/GetSearchTotal" message="tns:ISupplier_GetSearchTotal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseInterface/GetSearchTotalResponse" message="tns:ISupplier_GetSearchTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSuppliers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplier/GetAllSuppliers" message="tns:ISupplier_GetAllSuppliers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplier/GetAllSuppliersResponse" message="tns:ISupplier_GetAllSuppliers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSuppliersPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplier/GetAllSuppliersPaged" message="tns:ISupplier_GetAllSuppliersPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplier/GetAllSuppliersPagedResponse" message="tns:ISupplier_GetAllSuppliersPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplier/GetSupplier" message="tns:ISupplier_GetSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplier/GetSupplierResponse" message="tns:ISupplier_GetSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplier/AddSupplier" message="tns:ISupplier_AddSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplier/AddSupplierResponse" message="tns:ISupplier_AddSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplier/UpdateSupplier" message="tns:ISupplier_UpdateSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplier/UpdateSupplierResponse" message="tns:ISupplier_UpdateSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArchiveSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplier/ArchiveSupplier" message="tns:ISupplier_ArchiveSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplier/ArchiveSupplierResponse" message="tns:ISupplier_ArchiveSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplier/DeleteSupplier" message="tns:ISupplier_DeleteSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplier/DeleteSupplierResponse" message="tns:ISupplier_DeleteSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplierContact">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplier/GetSupplierContact" message="tns:ISupplier_GetSupplierContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplier/GetSupplierContactResponse" message="tns:ISupplier_GetSupplierContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSupplierContact">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplier/AddSupplierContact" message="tns:ISupplier_AddSupplierContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplier/AddSupplierContactResponse" message="tns:ISupplier_AddSupplierContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplierContact">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplier/UpdateSupplierContact" message="tns:ISupplier_UpdateSupplierContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplier/UpdateSupplierContactResponse" message="tns:ISupplier_UpdateSupplierContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearCacheOfType">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplier/ClearCacheOfType" message="tns:ISupplier_ClearCacheOfType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplier/ClearCacheOfTypeResponse" message="tns:ISupplier_ClearCacheOfType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISupplier" type="tns:ISupplier">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTotal">
      <soap:operation soapAction="http://tempuri.org/IBaseInterface/GetTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchTotal">
      <soap:operation soapAction="http://tempuri.org/IBaseInterface/GetSearchTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSuppliers">
      <soap:operation soapAction="http://tempuri.org/ISupplier/GetAllSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSuppliersPaged">
      <soap:operation soapAction="http://tempuri.org/ISupplier/GetAllSuppliersPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplier">
      <soap:operation soapAction="http://tempuri.org/ISupplier/GetSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSupplier">
      <soap:operation soapAction="http://tempuri.org/ISupplier/AddSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <soap:operation soapAction="http://tempuri.org/ISupplier/UpdateSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArchiveSupplier">
      <soap:operation soapAction="http://tempuri.org/ISupplier/ArchiveSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSupplier">
      <soap:operation soapAction="http://tempuri.org/ISupplier/DeleteSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierContact">
      <soap:operation soapAction="http://tempuri.org/ISupplier/GetSupplierContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSupplierContact">
      <soap:operation soapAction="http://tempuri.org/ISupplier/AddSupplierContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplierContact">
      <soap:operation soapAction="http://tempuri.org/ISupplier/UpdateSupplierContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCacheOfType">
      <soap:operation soapAction="http://tempuri.org/ISupplier/ClearCacheOfType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SupplierService">
    <wsdl:port name="BasicHttpBinding_ISupplier" binding="tns:BasicHttpBinding_ISupplier">
      <soap:address location="http://modernpractice2013.cloudapp.net/SupplierService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>