HubOne.XPM.PS/HubOne.XPM.PS/Service References/ClientSvc/ClientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/ClientService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/ClientService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClient_GetTotal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotal" />
  </wsdl:message>
  <wsdl:message name="IClient_GetTotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_GetSearchTotal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchTotal" />
  </wsdl:message>
  <wsdl:message name="IClient_GetSearchTotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchTotalResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_ClearCacheOfType_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfType" />
  </wsdl:message>
  <wsdl:message name="IClient_ClearCacheOfType_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_GetAllClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClients" />
  </wsdl:message>
  <wsdl:message name="IClient_GetAllClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_GetAllClientsPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClientsPaged" />
  </wsdl:message>
  <wsdl:message name="IClient_GetAllClientsPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClientsPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_GetAllClientsForExport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClientsForExport" />
  </wsdl:message>
  <wsdl:message name="IClient_GetAllClientsForExport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClientsForExportResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_GetAllClientsForExportPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClientsForExportPaged" />
  </wsdl:message>
  <wsdl:message name="IClient_GetAllClientsForExportPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClientsForExportPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_SearchClients_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchClients" />
  </wsdl:message>
  <wsdl:message name="IClient_SearchClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_GetClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClient" />
  </wsdl:message>
  <wsdl:message name="IClient_GetClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_AddClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="IClient_AddClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_UpdateClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClient" />
  </wsdl:message>
  <wsdl:message name="IClient_UpdateClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_ArchiveClient_InputMessage">
    <wsdl:part name="parameters" element="tns:ArchiveClient" />
  </wsdl:message>
  <wsdl:message name="IClient_ArchiveClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArchiveClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_DeleteClient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClient" />
  </wsdl:message>
  <wsdl:message name="IClient_DeleteClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_GetAllContactsByClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContactsByClient" />
  </wsdl:message>
  <wsdl:message name="IClient_GetAllContactsByClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContactsByClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_GetClientContact_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientContact" />
  </wsdl:message>
  <wsdl:message name="IClient_GetClientContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientContactResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_AddClientContact_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClientContact" />
  </wsdl:message>
  <wsdl:message name="IClient_AddClientContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientContactResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_UpdateClientContact_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientContact" />
  </wsdl:message>
  <wsdl:message name="IClient_UpdateClientContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientContactResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_DeleteContact_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContact" />
  </wsdl:message>
  <wsdl:message name="IClient_DeleteContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContactResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_GetAllDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDocuments" />
  </wsdl:message>
  <wsdl:message name="IClient_GetAllDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDocumentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IClient">
    <wsdl:operation name="GetTotal">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseInterface/GetTotal" message="tns:IClient_GetTotal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseInterface/GetTotalResponse" message="tns:IClient_GetTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSearchTotal">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseInterface/GetSearchTotal" message="tns:IClient_GetSearchTotal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseInterface/GetSearchTotalResponse" message="tns:IClient_GetSearchTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearCacheOfType">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/ClearCacheOfType" message="tns:IClient_ClearCacheOfType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/ClearCacheOfTypeResponse" message="tns:IClient_ClearCacheOfType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/GetAllClients" message="tns:IClient_GetAllClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/GetAllClientsResponse" message="tns:IClient_GetAllClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllClientsPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/GetAllClientsPaged" message="tns:IClient_GetAllClientsPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/GetAllClientsPagedResponse" message="tns:IClient_GetAllClientsPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllClientsForExport">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/GetAllClientsForExport" message="tns:IClient_GetAllClientsForExport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/GetAllClientsForExportResponse" message="tns:IClient_GetAllClientsForExport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllClientsForExportPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/GetAllClientsForExportPaged" message="tns:IClient_GetAllClientsForExportPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/GetAllClientsForExportPagedResponse" message="tns:IClient_GetAllClientsForExportPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/SearchClients" message="tns:IClient_SearchClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/SearchClientsResponse" message="tns:IClient_SearchClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/GetClient" message="tns:IClient_GetClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/GetClientResponse" message="tns:IClient_GetClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/AddClient" message="tns:IClient_AddClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/AddClientResponse" message="tns:IClient_AddClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/UpdateClient" message="tns:IClient_UpdateClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/UpdateClientResponse" message="tns:IClient_UpdateClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArchiveClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/ArchiveClient" message="tns:IClient_ArchiveClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/ArchiveClientResponse" message="tns:IClient_ArchiveClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/DeleteClient" message="tns:IClient_DeleteClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/DeleteClientResponse" message="tns:IClient_DeleteClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContactsByClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/GetAllContactsByClient" message="tns:IClient_GetAllContactsByClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/GetAllContactsByClientResponse" message="tns:IClient_GetAllContactsByClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/GetClientContact" message="tns:IClient_GetClientContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/GetClientContactResponse" message="tns:IClient_GetClientContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddClientContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/AddClientContact" message="tns:IClient_AddClientContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/AddClientContactResponse" message="tns:IClient_AddClientContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClientContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/UpdateClientContact" message="tns:IClient_UpdateClientContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/UpdateClientContactResponse" message="tns:IClient_UpdateClientContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/DeleteContact" message="tns:IClient_DeleteContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/DeleteContactResponse" message="tns:IClient_DeleteContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/GetAllDocuments" message="tns:IClient_GetAllDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/GetAllDocumentsResponse" message="tns:IClient_GetAllDocuments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClient" type="tns:IClient">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTotal">
      <soap:operation soapAction="http://tempuri.org/IBaseInterface/GetTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchTotal">
      <soap:operation soapAction="http://tempuri.org/IBaseInterface/GetSearchTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCacheOfType">
      <soap:operation soapAction="http://tempuri.org/IClient/ClearCacheOfType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllClients">
      <soap:operation soapAction="http://tempuri.org/IClient/GetAllClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllClientsPaged">
      <soap:operation soapAction="http://tempuri.org/IClient/GetAllClientsPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllClientsForExport">
      <soap:operation soapAction="http://tempuri.org/IClient/GetAllClientsForExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllClientsForExportPaged">
      <soap:operation soapAction="http://tempuri.org/IClient/GetAllClientsForExportPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchClients">
      <soap:operation soapAction="http://tempuri.org/IClient/SearchClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <soap:operation soapAction="http://tempuri.org/IClient/GetClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <soap:operation soapAction="http://tempuri.org/IClient/AddClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <soap:operation soapAction="http://tempuri.org/IClient/UpdateClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArchiveClient">
      <soap:operation soapAction="http://tempuri.org/IClient/ArchiveClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <soap:operation soapAction="http://tempuri.org/IClient/DeleteClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContactsByClient">
      <soap:operation soapAction="http://tempuri.org/IClient/GetAllContactsByClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientContact">
      <soap:operation soapAction="http://tempuri.org/IClient/GetClientContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClientContact">
      <soap:operation soapAction="http://tempuri.org/IClient/AddClientContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClientContact">
      <soap:operation soapAction="http://tempuri.org/IClient/UpdateClientContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <soap:operation soapAction="http://tempuri.org/IClient/DeleteContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDocuments">
      <soap:operation soapAction="http://tempuri.org/IClient/GetAllDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientService">
    <wsdl:port name="BasicHttpBinding_IClient" binding="tns:BasicHttpBinding_IClient">
      <soap:address location="http://modernpractice2013.cloudapp.net/ClientService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>