HubOne.XPM.PS/HubOne.PS/Service References/TimeSvc/TimeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TimeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/TimeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/TimeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/TimeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITime_ClearCacheOfType_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfType" />
  </wsdl:message>
  <wsdl:message name="ITime_ClearCacheOfType_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ITime_GetJobTimeSheets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobTimeSheets" />
  </wsdl:message>
  <wsdl:message name="ITime_GetJobTimeSheets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobTimeSheetsResponse" />
  </wsdl:message>
  <wsdl:message name="ITime_GetAllTimeSheets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTimeSheets" />
  </wsdl:message>
  <wsdl:message name="ITime_GetAllTimeSheets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTimeSheetsResponse" />
  </wsdl:message>
  <wsdl:message name="ITime_GetAllTimeSheetsPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTimeSheetsPaged" />
  </wsdl:message>
  <wsdl:message name="ITime_GetAllTimeSheetsPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTimeSheetsPagedResponse" />
  </wsdl:message>
  <wsdl:message name="ITime_GetStaffTimeSheets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffTimeSheets" />
  </wsdl:message>
  <wsdl:message name="ITime_GetStaffTimeSheets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffTimeSheetsResponse" />
  </wsdl:message>
  <wsdl:message name="ITime_GetTimeSheet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeSheet" />
  </wsdl:message>
  <wsdl:message name="ITime_GetTimeSheet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeSheetResponse" />
  </wsdl:message>
  <wsdl:message name="ITime_AddJobTimeSheet_InputMessage">
    <wsdl:part name="parameters" element="tns:AddJobTimeSheet" />
  </wsdl:message>
  <wsdl:message name="ITime_AddJobTimeSheet_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddJobTimeSheetResponse" />
  </wsdl:message>
  <wsdl:message name="ITime_UpdateJobTimeSheet_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobTimeSheet" />
  </wsdl:message>
  <wsdl:message name="ITime_UpdateJobTimeSheet_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobTimeSheetResponse" />
  </wsdl:message>
  <wsdl:message name="ITime_DeleteTimeSheet_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTimeSheet" />
  </wsdl:message>
  <wsdl:message name="ITime_DeleteTimeSheet_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTimeSheetResponse" />
  </wsdl:message>
  <wsdl:portType name="ITime">
    <wsdl:operation name="ClearCacheOfType">
      <wsdl:input wsaw:Action="http://tempuri.org/ITime/ClearCacheOfType" message="tns:ITime_ClearCacheOfType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITime/ClearCacheOfTypeResponse" message="tns:ITime_ClearCacheOfType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobTimeSheets">
      <wsdl:input wsaw:Action="http://tempuri.org/ITime/GetJobTimeSheets" message="tns:ITime_GetJobTimeSheets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITime/GetJobTimeSheetsResponse" message="tns:ITime_GetJobTimeSheets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTimeSheets">
      <wsdl:input wsaw:Action="http://tempuri.org/ITime/GetAllTimeSheets" message="tns:ITime_GetAllTimeSheets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITime/GetAllTimeSheetsResponse" message="tns:ITime_GetAllTimeSheets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTimeSheetsPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/ITime/GetAllTimeSheetsPaged" message="tns:ITime_GetAllTimeSheetsPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITime/GetAllTimeSheetsPagedResponse" message="tns:ITime_GetAllTimeSheetsPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStaffTimeSheets">
      <wsdl:input wsaw:Action="http://tempuri.org/ITime/GetStaffTimeSheets" message="tns:ITime_GetStaffTimeSheets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITime/GetStaffTimeSheetsResponse" message="tns:ITime_GetStaffTimeSheets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeSheet">
      <wsdl:input wsaw:Action="http://tempuri.org/ITime/GetTimeSheet" message="tns:ITime_GetTimeSheet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITime/GetTimeSheetResponse" message="tns:ITime_GetTimeSheet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddJobTimeSheet">
      <wsdl:input wsaw:Action="http://tempuri.org/ITime/AddJobTimeSheet" message="tns:ITime_AddJobTimeSheet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITime/AddJobTimeSheetResponse" message="tns:ITime_AddJobTimeSheet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJobTimeSheet">
      <wsdl:input wsaw:Action="http://tempuri.org/ITime/UpdateJobTimeSheet" message="tns:ITime_UpdateJobTimeSheet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITime/UpdateJobTimeSheetResponse" message="tns:ITime_UpdateJobTimeSheet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTimeSheet">
      <wsdl:input wsaw:Action="http://tempuri.org/ITime/DeleteTimeSheet" message="tns:ITime_DeleteTimeSheet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITime/DeleteTimeSheetResponse" message="tns:ITime_DeleteTimeSheet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITime" type="tns:ITime">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCacheOfType">
      <soap:operation soapAction="http://tempuri.org/ITime/ClearCacheOfType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobTimeSheets">
      <soap:operation soapAction="http://tempuri.org/ITime/GetJobTimeSheets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTimeSheets">
      <soap:operation soapAction="http://tempuri.org/ITime/GetAllTimeSheets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTimeSheetsPaged">
      <soap:operation soapAction="http://tempuri.org/ITime/GetAllTimeSheetsPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaffTimeSheets">
      <soap:operation soapAction="http://tempuri.org/ITime/GetStaffTimeSheets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeSheet">
      <soap:operation soapAction="http://tempuri.org/ITime/GetTimeSheet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJobTimeSheet">
      <soap:operation soapAction="http://tempuri.org/ITime/AddJobTimeSheet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJobTimeSheet">
      <soap:operation soapAction="http://tempuri.org/ITime/UpdateJobTimeSheet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTimeSheet">
      <soap:operation soapAction="http://tempuri.org/ITime/DeleteTimeSheet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimeService">
    <wsdl:port name="BasicHttpBinding_ITime" binding="tns:BasicHttpBinding_ITime">
      <soap:address location="http://modernpractice2013.cloudapp.net/TimeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>