HubOne.XPM.PS/HubOne.PS/Service References/TaskSvc/TaskService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TaskService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/TaskService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/TaskService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/TaskService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITask_ClearCacheOfType_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfType" />
  </wsdl:message>
  <wsdl:message name="ITask_ClearCacheOfType_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ITask_GetAllTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasks" />
  </wsdl:message>
  <wsdl:message name="ITask_GetAllTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksResponse" />
  </wsdl:message>
  <wsdl:message name="ITask_GetAllTasksPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksPaged" />
  </wsdl:message>
  <wsdl:message name="ITask_GetAllTasksPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksPagedResponse" />
  </wsdl:message>
  <wsdl:message name="ITask_GetTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTask" />
  </wsdl:message>
  <wsdl:message name="ITask_GetTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="ITask">
    <wsdl:operation name="ClearCacheOfType">
      <wsdl:input wsaw:Action="http://tempuri.org/ITask/ClearCacheOfType" message="tns:ITask_ClearCacheOfType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITask/ClearCacheOfTypeResponse" message="tns:ITask_ClearCacheOfType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITask/GetAllTasks" message="tns:ITask_GetAllTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITask/GetAllTasksResponse" message="tns:ITask_GetAllTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/ITask/GetAllTasksPaged" message="tns:ITask_GetAllTasksPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITask/GetAllTasksPagedResponse" message="tns:ITask_GetAllTasksPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITask/GetTask" message="tns:ITask_GetTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITask/GetTaskResponse" message="tns:ITask_GetTask_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITask" type="tns:ITask">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCacheOfType">
      <soap:operation soapAction="http://tempuri.org/ITask/ClearCacheOfType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasks">
      <soap:operation soapAction="http://tempuri.org/ITask/GetAllTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksPaged">
      <soap:operation soapAction="http://tempuri.org/ITask/GetAllTasksPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <soap:operation soapAction="http://tempuri.org/ITask/GetTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaskService">
    <wsdl:port name="BasicHttpBinding_ITask" binding="tns:BasicHttpBinding_ITask">
      <soap:address location="http://modernpractice2013.cloudapp.net/TaskService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>