HubOne.XPM.PS/HubOne.PS/Service References/CostSvc/CostService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CostService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/CostService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/CostService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/CostService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICost_ClearCacheOfType_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfType" />
  </wsdl:message>
  <wsdl:message name="ICost_ClearCacheOfType_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICost_GetAllCosts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCosts" />
  </wsdl:message>
  <wsdl:message name="ICost_GetAllCosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCostsResponse" />
  </wsdl:message>
  <wsdl:message name="ICost_GetAllCostsPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCostsPaged" />
  </wsdl:message>
  <wsdl:message name="ICost_GetAllCostsPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCostsPagedResponse" />
  </wsdl:message>
  <wsdl:message name="ICost_GetCost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCost" />
  </wsdl:message>
  <wsdl:message name="ICost_GetCost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCostResponse" />
  </wsdl:message>
  <wsdl:message name="ICost_AddCost_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCost" />
  </wsdl:message>
  <wsdl:message name="ICost_AddCost_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCostResponse" />
  </wsdl:message>
  <wsdl:message name="ICost_UpdateCost_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCost" />
  </wsdl:message>
  <wsdl:message name="ICost_UpdateCost_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCostResponse" />
  </wsdl:message>
  <wsdl:message name="ICost_DeleteCost_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCost" />
  </wsdl:message>
  <wsdl:message name="ICost_DeleteCost_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCostResponse" />
  </wsdl:message>
  <wsdl:message name="ICost_DeleteAllCosts_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllCosts" />
  </wsdl:message>
  <wsdl:message name="ICost_DeleteAllCosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllCostsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICost">
    <wsdl:operation name="ClearCacheOfType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICost/ClearCacheOfType" message="tns:ICost_ClearCacheOfType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICost/ClearCacheOfTypeResponse" message="tns:ICost_ClearCacheOfType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCosts">
      <wsdl:input wsaw:Action="http://tempuri.org/ICost/GetAllCosts" message="tns:ICost_GetAllCosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICost/GetAllCostsResponse" message="tns:ICost_GetAllCosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCostsPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/ICost/GetAllCostsPaged" message="tns:ICost_GetAllCostsPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICost/GetAllCostsPagedResponse" message="tns:ICost_GetAllCostsPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCost">
      <wsdl:input wsaw:Action="http://tempuri.org/ICost/GetCost" message="tns:ICost_GetCost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICost/GetCostResponse" message="tns:ICost_GetCost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCost">
      <wsdl:input wsaw:Action="http://tempuri.org/ICost/AddCost" message="tns:ICost_AddCost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICost/AddCostResponse" message="tns:ICost_AddCost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCost">
      <wsdl:input wsaw:Action="http://tempuri.org/ICost/UpdateCost" message="tns:ICost_UpdateCost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICost/UpdateCostResponse" message="tns:ICost_UpdateCost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCost">
      <wsdl:input wsaw:Action="http://tempuri.org/ICost/DeleteCost" message="tns:ICost_DeleteCost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICost/DeleteCostResponse" message="tns:ICost_DeleteCost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllCosts">
      <wsdl:input wsaw:Action="http://tempuri.org/ICost/DeleteAllCosts" message="tns:ICost_DeleteAllCosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICost/DeleteAllCostsResponse" message="tns:ICost_DeleteAllCosts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICost" type="tns:ICost">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCacheOfType">
      <soap:operation soapAction="http://tempuri.org/ICost/ClearCacheOfType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCosts">
      <soap:operation soapAction="http://tempuri.org/ICost/GetAllCosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCostsPaged">
      <soap:operation soapAction="http://tempuri.org/ICost/GetAllCostsPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCost">
      <soap:operation soapAction="http://tempuri.org/ICost/GetCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCost">
      <soap:operation soapAction="http://tempuri.org/ICost/AddCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCost">
      <soap:operation soapAction="http://tempuri.org/ICost/UpdateCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCost">
      <soap:operation soapAction="http://tempuri.org/ICost/DeleteCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllCosts">
      <soap:operation soapAction="http://tempuri.org/ICost/DeleteAllCosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CostService">
    <wsdl:port name="BasicHttpBinding_ICost" binding="tns:BasicHttpBinding_ICost">
      <soap:address location="http://modernpractice2013.cloudapp.net/CostService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>