HubOne.XPM.PS/HubOne.PS/Service References/CostSvc/CostService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://modernpractice2013.cloudapp.net/CostService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" />
  <xs:element name="ClearCacheOfType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCacheOfTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="GetAllCostsResult" nillable="true" type="q1:ArrayOfCost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCostsPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="startPosition" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCostsPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="GetAllCostsPagedResult" nillable="true" type="q2:ArrayOfCost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="costID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="GetCostResult" nillable="true" type="q3:Cost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="cost" nillable="true" type="q4:Cost" />
        <xs:element minOccurs="0" name="accountKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="AddCostResult" nillable="true" type="q5:Cost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="cost" nillable="true" type="q6:Cost" />
        <xs:element minOccurs="0" name="accountKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="UpdateCostResult" nillable="true" type="q7:Cost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="cost" nillable="true" type="q8:Cost" />
        <xs:element minOccurs="0" name="accountKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="DeleteCostResult" nillable="true" type="q9:WFMResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllCosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllCostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="DeleteAllCostsResult" nillable="true" type="q10:WFMResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>