HubOne.XPM.PS/HubOne.PS/Service References/PurchaseOrderSvc/PurchaseOrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PurchaseOrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/PurchaseOrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/PurchaseOrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/PurchaseOrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPurchaseOrder_ClearCacheOfType_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfType" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_ClearCacheOfType_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_GetCurrentPurchaseOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentPurchaseOrders" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_GetCurrentPurchaseOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentPurchaseOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_GetCurrentPurchaseOrdersPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentPurchaseOrdersPaged" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_GetCurrentPurchaseOrdersPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentPurchaseOrdersPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_GetPurchaseOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrder" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_GetPurchaseOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_GetDraftPurchaseOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDraftPurchaseOrders" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_GetDraftPurchaseOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDraftPurchaseOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_GetJobPurchaseOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobPurchaseOrders" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_GetJobPurchaseOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobPurchaseOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_GetAllPurchaseOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPurchaseOrders" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_GetAllPurchaseOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPurchaseOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_GetAllPurchaseOrdersPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPurchaseOrdersPaged" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_GetAllPurchaseOrdersPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPurchaseOrdersPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_AddPurchaseOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPurchaseOrder" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_AddPurchaseOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPurchaseOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_AddDraftPurchaseOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDraftPurchaseOrder" />
  </wsdl:message>
  <wsdl:message name="IPurchaseOrder_AddDraftPurchaseOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDraftPurchaseOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IPurchaseOrder">
    <wsdl:operation name="ClearCacheOfType">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseOrder/ClearCacheOfType" message="tns:IPurchaseOrder_ClearCacheOfType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseOrder/ClearCacheOfTypeResponse" message="tns:IPurchaseOrder_ClearCacheOfType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentPurchaseOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseOrder/GetCurrentPurchaseOrders" message="tns:IPurchaseOrder_GetCurrentPurchaseOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseOrder/GetCurrentPurchaseOrdersResponse" message="tns:IPurchaseOrder_GetCurrentPurchaseOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentPurchaseOrdersPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseOrder/GetCurrentPurchaseOrdersPaged" message="tns:IPurchaseOrder_GetCurrentPurchaseOrdersPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseOrder/GetCurrentPurchaseOrdersPagedResponse" message="tns:IPurchaseOrder_GetCurrentPurchaseOrdersPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseOrder/GetPurchaseOrder" message="tns:IPurchaseOrder_GetPurchaseOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseOrder/GetPurchaseOrderResponse" message="tns:IPurchaseOrder_GetPurchaseOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDraftPurchaseOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseOrder/GetDraftPurchaseOrders" message="tns:IPurchaseOrder_GetDraftPurchaseOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseOrder/GetDraftPurchaseOrdersResponse" message="tns:IPurchaseOrder_GetDraftPurchaseOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobPurchaseOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseOrder/GetJobPurchaseOrders" message="tns:IPurchaseOrder_GetJobPurchaseOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseOrder/GetJobPurchaseOrdersResponse" message="tns:IPurchaseOrder_GetJobPurchaseOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPurchaseOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseOrder/GetAllPurchaseOrders" message="tns:IPurchaseOrder_GetAllPurchaseOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseOrder/GetAllPurchaseOrdersResponse" message="tns:IPurchaseOrder_GetAllPurchaseOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPurchaseOrdersPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseOrder/GetAllPurchaseOrdersPaged" message="tns:IPurchaseOrder_GetAllPurchaseOrdersPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseOrder/GetAllPurchaseOrdersPagedResponse" message="tns:IPurchaseOrder_GetAllPurchaseOrdersPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPurchaseOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseOrder/AddPurchaseOrder" message="tns:IPurchaseOrder_AddPurchaseOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseOrder/AddPurchaseOrderResponse" message="tns:IPurchaseOrder_AddPurchaseOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDraftPurchaseOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseOrder/AddDraftPurchaseOrder" message="tns:IPurchaseOrder_AddDraftPurchaseOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseOrder/AddDraftPurchaseOrderResponse" message="tns:IPurchaseOrder_AddDraftPurchaseOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPurchaseOrder" type="tns:IPurchaseOrder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCacheOfType">
      <soap:operation soapAction="http://tempuri.org/IPurchaseOrder/ClearCacheOfType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentPurchaseOrders">
      <soap:operation soapAction="http://tempuri.org/IPurchaseOrder/GetCurrentPurchaseOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentPurchaseOrdersPaged">
      <soap:operation soapAction="http://tempuri.org/IPurchaseOrder/GetCurrentPurchaseOrdersPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseOrder">
      <soap:operation soapAction="http://tempuri.org/IPurchaseOrder/GetPurchaseOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDraftPurchaseOrders">
      <soap:operation soapAction="http://tempuri.org/IPurchaseOrder/GetDraftPurchaseOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobPurchaseOrders">
      <soap:operation soapAction="http://tempuri.org/IPurchaseOrder/GetJobPurchaseOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPurchaseOrders">
      <soap:operation soapAction="http://tempuri.org/IPurchaseOrder/GetAllPurchaseOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPurchaseOrdersPaged">
      <soap:operation soapAction="http://tempuri.org/IPurchaseOrder/GetAllPurchaseOrdersPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPurchaseOrder">
      <soap:operation soapAction="http://tempuri.org/IPurchaseOrder/AddPurchaseOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDraftPurchaseOrder">
      <soap:operation soapAction="http://tempuri.org/IPurchaseOrder/AddDraftPurchaseOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PurchaseOrderService">
    <wsdl:port name="BasicHttpBinding_IPurchaseOrder" binding="tns:BasicHttpBinding_IPurchaseOrder">
      <soap:address location="http://modernpractice2013.cloudapp.net/PurchaseOrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>