HubOne.XPM.PS/HubOne.XPM.PS/Service References/StaffSvc/StaffService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStaff">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Staff" nillable="true" type="tns:Staff" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStaff" nillable="true" type="tns:ArrayOfStaff" />
  <xs:complexType name="Staff">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WFMBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PayrollCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Security" nillable="true" type="tns:Security" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Staff" nillable="true" type="tns:Staff" />
  <xs:complexType name="WFMBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDeleted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberRecordsRequested" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartPosition" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WFMBase" nillable="true" type="tns:WFMBase" />
  <xs:complexType name="Security">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Security" nillable="true" type="tns:Security" />
  <xs:complexType name="WFMResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WFMBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WFMResponse" nillable="true" type="tns:WFMResponse" />
</xs:schema>