HubOne.XPM.PS/HubOne.XPM.PS/Service References/CustomFieldSvc/CustomFieldDefinitionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomFieldDefinitionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/CustomFieldDefinitionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/CustomFieldDefinitionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/CustomFieldDefinitionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/CustomFieldDefinitionService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomFieldDefinition_ClearCacheOfType_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfType" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_ClearCacheOfType_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetAllCustomFieldDefinitions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomFieldDefinitions" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetAllCustomFieldDefinitions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomFieldDefinitionsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetAllCustomFieldDefinitionsPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomFieldDefinitionsPaged" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetAllCustomFieldDefinitionsPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomFieldDefinitionsPagedResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetClientCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetClientCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetContactCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetContactCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetSupplierCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetSupplierCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetSupplierContactCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierContactCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetSupplierContactCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierContactCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetJobCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetJobCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetJobTaskCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobTaskCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetJobTaskCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobTaskCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetJobCostCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobCostCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetJobCostCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobCostCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetTimeCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetTimeCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetLeadCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeadCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_GetLeadCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeadCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateClientCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateClientCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateContactCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContactCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateContactCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContactCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateSupplierCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplierCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateSupplierCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplierCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateSupplierContactCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplierContactCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateSupplierContactCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplierContactCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateJobCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateJobCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateJobTaskCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobTaskCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateJobTaskCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobTaskCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateJobCostCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobCostCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateJobCostCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobCostCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateTimeCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTimeCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateTimeCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTimeCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateLeadCustomFields_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLeadCustomFields" />
  </wsdl:message>
  <wsdl:message name="ICustomFieldDefinition_UpdateLeadCustomFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLeadCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomFieldDefinition">
    <wsdl:operation name="ClearCacheOfType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/ClearCacheOfType" message="tns:ICustomFieldDefinition_ClearCacheOfType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/ClearCacheOfTypeResponse" message="tns:ICustomFieldDefinition_ClearCacheOfType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomFieldDefinitions">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetAllCustomFieldDefinitions" message="tns:ICustomFieldDefinition_GetAllCustomFieldDefinitions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetAllCustomFieldDefinitionsResponse" message="tns:ICustomFieldDefinition_GetAllCustomFieldDefinitions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomFieldDefinitionsPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetAllCustomFieldDefinitionsPaged" message="tns:ICustomFieldDefinition_GetAllCustomFieldDefinitionsPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetAllCustomFieldDefinitionsPagedResponse" message="tns:ICustomFieldDefinition_GetAllCustomFieldDefinitionsPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetClientCustomFields" message="tns:ICustomFieldDefinition_GetClientCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetClientCustomFieldsResponse" message="tns:ICustomFieldDefinition_GetClientCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetContactCustomFields" message="tns:ICustomFieldDefinition_GetContactCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetContactCustomFieldsResponse" message="tns:ICustomFieldDefinition_GetContactCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplierCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetSupplierCustomFields" message="tns:ICustomFieldDefinition_GetSupplierCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetSupplierCustomFieldsResponse" message="tns:ICustomFieldDefinition_GetSupplierCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplierContactCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetSupplierContactCustomFields" message="tns:ICustomFieldDefinition_GetSupplierContactCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetSupplierContactCustomFieldsResponse" message="tns:ICustomFieldDefinition_GetSupplierContactCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetJobCustomFields" message="tns:ICustomFieldDefinition_GetJobCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetJobCustomFieldsResponse" message="tns:ICustomFieldDefinition_GetJobCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobTaskCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetJobTaskCustomFields" message="tns:ICustomFieldDefinition_GetJobTaskCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetJobTaskCustomFieldsResponse" message="tns:ICustomFieldDefinition_GetJobTaskCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobCostCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetJobCostCustomFields" message="tns:ICustomFieldDefinition_GetJobCostCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetJobCostCustomFieldsResponse" message="tns:ICustomFieldDefinition_GetJobCostCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetTimeCustomFields" message="tns:ICustomFieldDefinition_GetTimeCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetTimeCustomFieldsResponse" message="tns:ICustomFieldDefinition_GetTimeCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeadCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetLeadCustomFields" message="tns:ICustomFieldDefinition_GetLeadCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/GetLeadCustomFieldsResponse" message="tns:ICustomFieldDefinition_GetLeadCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClientCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateClientCustomFields" message="tns:ICustomFieldDefinition_UpdateClientCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateClientCustomFieldsResponse" message="tns:ICustomFieldDefinition_UpdateClientCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContactCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateContactCustomFields" message="tns:ICustomFieldDefinition_UpdateContactCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateContactCustomFieldsResponse" message="tns:ICustomFieldDefinition_UpdateContactCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplierCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateSupplierCustomFields" message="tns:ICustomFieldDefinition_UpdateSupplierCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateSupplierCustomFieldsResponse" message="tns:ICustomFieldDefinition_UpdateSupplierCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplierContactCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateSupplierContactCustomFields" message="tns:ICustomFieldDefinition_UpdateSupplierContactCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateSupplierContactCustomFieldsResponse" message="tns:ICustomFieldDefinition_UpdateSupplierContactCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJobCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateJobCustomFields" message="tns:ICustomFieldDefinition_UpdateJobCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateJobCustomFieldsResponse" message="tns:ICustomFieldDefinition_UpdateJobCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJobTaskCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateJobTaskCustomFields" message="tns:ICustomFieldDefinition_UpdateJobTaskCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateJobTaskCustomFieldsResponse" message="tns:ICustomFieldDefinition_UpdateJobTaskCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJobCostCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateJobCostCustomFields" message="tns:ICustomFieldDefinition_UpdateJobCostCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateJobCostCustomFieldsResponse" message="tns:ICustomFieldDefinition_UpdateJobCostCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTimeCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateTimeCustomFields" message="tns:ICustomFieldDefinition_UpdateTimeCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateTimeCustomFieldsResponse" message="tns:ICustomFieldDefinition_UpdateTimeCustomFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLeadCustomFields">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateLeadCustomFields" message="tns:ICustomFieldDefinition_UpdateLeadCustomFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomFieldDefinition/UpdateLeadCustomFieldsResponse" message="tns:ICustomFieldDefinition_UpdateLeadCustomFields_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomFieldDefinition" type="tns:ICustomFieldDefinition">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCacheOfType">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/ClearCacheOfType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomFieldDefinitions">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/GetAllCustomFieldDefinitions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomFieldDefinitionsPaged">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/GetAllCustomFieldDefinitionsPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/GetClientCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/GetContactCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/GetSupplierCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierContactCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/GetSupplierContactCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/GetJobCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobTaskCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/GetJobTaskCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobCostCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/GetJobCostCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/GetTimeCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeadCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/GetLeadCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClientCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/UpdateClientCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContactCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/UpdateContactCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplierCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/UpdateSupplierCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplierContactCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/UpdateSupplierContactCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJobCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/UpdateJobCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJobTaskCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/UpdateJobTaskCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJobCostCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/UpdateJobCostCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTimeCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/UpdateTimeCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLeadCustomFields">
      <soap:operation soapAction="http://tempuri.org/ICustomFieldDefinition/UpdateLeadCustomFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomFieldDefinitionService">
    <wsdl:port name="BasicHttpBinding_ICustomFieldDefinition" binding="tns:BasicHttpBinding_ICustomFieldDefinition">
      <soap:address location="http://modernpractice2013.cloudapp.net/CustomFieldDefinitionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>