HubOne.XPM.PS/HubOne.PS/Service References/StaffSvc/StaffService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StaffService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/StaffService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/StaffService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/StaffService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStaff_GetTotal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotal" />
  </wsdl:message>
  <wsdl:message name="IStaff_GetTotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalResponse" />
  </wsdl:message>
  <wsdl:message name="IStaff_ClearCacheOfType_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfType" />
  </wsdl:message>
  <wsdl:message name="IStaff_ClearCacheOfType_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IStaff_GetAllStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStaff" />
  </wsdl:message>
  <wsdl:message name="IStaff_GetAllStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IStaff_GetAllStaffPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStaffPaged" />
  </wsdl:message>
  <wsdl:message name="IStaff_GetAllStaffPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStaffPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IStaff_GetStaffMember_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffMember" />
  </wsdl:message>
  <wsdl:message name="IStaff_GetStaffMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IStaff_AddStaffMember_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStaffMember" />
  </wsdl:message>
  <wsdl:message name="IStaff_AddStaffMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStaffMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IStaff_UpdateStaffMember_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStaffMember" />
  </wsdl:message>
  <wsdl:message name="IStaff_UpdateStaffMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStaffMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IStaff_DeleteStaffMember_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaffMember" />
  </wsdl:message>
  <wsdl:message name="IStaff_DeleteStaffMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaffMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IStaff_EnableStaffMember_InputMessage">
    <wsdl:part name="parameters" element="tns:EnableStaffMember" />
  </wsdl:message>
  <wsdl:message name="IStaff_EnableStaffMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnableStaffMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IStaff_DisableStaffMember_InputMessage">
    <wsdl:part name="parameters" element="tns:DisableStaffMember" />
  </wsdl:message>
  <wsdl:message name="IStaff_DisableStaffMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisableStaffMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IStaff_ForgottenPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ForgottenPassword" />
  </wsdl:message>
  <wsdl:message name="IStaff_ForgottenPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForgottenPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IStaff">
    <wsdl:operation name="GetTotal">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseInterface/GetTotal" message="tns:IStaff_GetTotal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseInterface/GetTotalResponse" message="tns:IStaff_GetTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearCacheOfType">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaff/ClearCacheOfType" message="tns:IStaff_ClearCacheOfType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaff/ClearCacheOfTypeResponse" message="tns:IStaff_ClearCacheOfType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaff/GetAllStaff" message="tns:IStaff_GetAllStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaff/GetAllStaffResponse" message="tns:IStaff_GetAllStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStaffPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaff/GetAllStaffPaged" message="tns:IStaff_GetAllStaffPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaff/GetAllStaffPagedResponse" message="tns:IStaff_GetAllStaffPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStaffMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaff/GetStaffMember" message="tns:IStaff_GetStaffMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaff/GetStaffMemberResponse" message="tns:IStaff_GetStaffMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStaffMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaff/AddStaffMember" message="tns:IStaff_AddStaffMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaff/AddStaffMemberResponse" message="tns:IStaff_AddStaffMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStaffMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaff/UpdateStaffMember" message="tns:IStaff_UpdateStaffMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaff/UpdateStaffMemberResponse" message="tns:IStaff_UpdateStaffMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStaffMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaff/DeleteStaffMember" message="tns:IStaff_DeleteStaffMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaff/DeleteStaffMemberResponse" message="tns:IStaff_DeleteStaffMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnableStaffMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaff/EnableStaffMember" message="tns:IStaff_EnableStaffMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaff/EnableStaffMemberResponse" message="tns:IStaff_EnableStaffMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisableStaffMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaff/DisableStaffMember" message="tns:IStaff_DisableStaffMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaff/DisableStaffMemberResponse" message="tns:IStaff_DisableStaffMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForgottenPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaff/ForgottenPassword" message="tns:IStaff_ForgottenPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaff/ForgottenPasswordResponse" message="tns:IStaff_ForgottenPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStaff" type="tns:IStaff">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTotal">
      <soap:operation soapAction="http://tempuri.org/IBaseInterface/GetTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCacheOfType">
      <soap:operation soapAction="http://tempuri.org/IStaff/ClearCacheOfType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStaff">
      <soap:operation soapAction="http://tempuri.org/IStaff/GetAllStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStaffPaged">
      <soap:operation soapAction="http://tempuri.org/IStaff/GetAllStaffPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaffMember">
      <soap:operation soapAction="http://tempuri.org/IStaff/GetStaffMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStaffMember">
      <soap:operation soapAction="http://tempuri.org/IStaff/AddStaffMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStaffMember">
      <soap:operation soapAction="http://tempuri.org/IStaff/UpdateStaffMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStaffMember">
      <soap:operation soapAction="http://tempuri.org/IStaff/DeleteStaffMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableStaffMember">
      <soap:operation soapAction="http://tempuri.org/IStaff/EnableStaffMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableStaffMember">
      <soap:operation soapAction="http://tempuri.org/IStaff/DisableStaffMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgottenPassword">
      <soap:operation soapAction="http://tempuri.org/IStaff/ForgottenPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StaffService">
    <wsdl:port name="BasicHttpBinding_IStaff" binding="tns:BasicHttpBinding_IStaff">
      <soap:address location="http://modernpractice2013.cloudapp.net/StaffService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>