HubOne.XPM.PS/HubOne.PS/Service References/LeadSvc/LeadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LeadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/LeadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/LeadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://modernpractice2013.cloudapp.net/LeadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILead_ClearCacheOfType_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfType" />
  </wsdl:message>
  <wsdl:message name="ILead_ClearCacheOfType_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheOfTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ILead_GetCurrentLeads_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentLeads" />
  </wsdl:message>
  <wsdl:message name="ILead_GetCurrentLeads_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentLeadsResponse" />
  </wsdl:message>
  <wsdl:message name="ILead_GetCurrentLeadsPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentLeadsPaged" />
  </wsdl:message>
  <wsdl:message name="ILead_GetCurrentLeadsPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentLeadsPagedResponse" />
  </wsdl:message>
  <wsdl:message name="ILead_GetLead_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLead" />
  </wsdl:message>
  <wsdl:message name="ILead_GetLead_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeadResponse" />
  </wsdl:message>
  <wsdl:message name="ILead_GetAllLeads_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLeads" />
  </wsdl:message>
  <wsdl:message name="ILead_GetAllLeads_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLeadsResponse" />
  </wsdl:message>
  <wsdl:message name="ILead_GetAllLeadsPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLeadsPaged" />
  </wsdl:message>
  <wsdl:message name="ILead_GetAllLeadsPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLeadsPagedResponse" />
  </wsdl:message>
  <wsdl:message name="ILead_AddLead_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLead" />
  </wsdl:message>
  <wsdl:message name="ILead_AddLead_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLeadResponse" />
  </wsdl:message>
  <wsdl:message name="ILead_GetLeadCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeadCategories" />
  </wsdl:message>
  <wsdl:message name="ILead_GetLeadCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeadCategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="ILead">
    <wsdl:operation name="ClearCacheOfType">
      <wsdl:input wsaw:Action="http://tempuri.org/ILead/ClearCacheOfType" message="tns:ILead_ClearCacheOfType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILead/ClearCacheOfTypeResponse" message="tns:ILead_ClearCacheOfType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentLeads">
      <wsdl:input wsaw:Action="http://tempuri.org/ILead/GetCurrentLeads" message="tns:ILead_GetCurrentLeads_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILead/GetCurrentLeadsResponse" message="tns:ILead_GetCurrentLeads_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentLeadsPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/ILead/GetCurrentLeadsPaged" message="tns:ILead_GetCurrentLeadsPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILead/GetCurrentLeadsPagedResponse" message="tns:ILead_GetCurrentLeadsPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLead">
      <wsdl:input wsaw:Action="http://tempuri.org/ILead/GetLead" message="tns:ILead_GetLead_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILead/GetLeadResponse" message="tns:ILead_GetLead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLeads">
      <wsdl:input wsaw:Action="http://tempuri.org/ILead/GetAllLeads" message="tns:ILead_GetAllLeads_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILead/GetAllLeadsResponse" message="tns:ILead_GetAllLeads_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLeadsPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/ILead/GetAllLeadsPaged" message="tns:ILead_GetAllLeadsPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILead/GetAllLeadsPagedResponse" message="tns:ILead_GetAllLeadsPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLead">
      <wsdl:input wsaw:Action="http://tempuri.org/ILead/AddLead" message="tns:ILead_AddLead_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILead/AddLeadResponse" message="tns:ILead_AddLead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeadCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ILead/GetLeadCategories" message="tns:ILead_GetLeadCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILead/GetLeadCategoriesResponse" message="tns:ILead_GetLeadCategories_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILead" type="tns:ILead">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCacheOfType">
      <soap:operation soapAction="http://tempuri.org/ILead/ClearCacheOfType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentLeads">
      <soap:operation soapAction="http://tempuri.org/ILead/GetCurrentLeads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentLeadsPaged">
      <soap:operation soapAction="http://tempuri.org/ILead/GetCurrentLeadsPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLead">
      <soap:operation soapAction="http://tempuri.org/ILead/GetLead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLeads">
      <soap:operation soapAction="http://tempuri.org/ILead/GetAllLeads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLeadsPaged">
      <soap:operation soapAction="http://tempuri.org/ILead/GetAllLeadsPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLead">
      <soap:operation soapAction="http://tempuri.org/ILead/AddLead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeadCategories">
      <soap:operation soapAction="http://tempuri.org/ILead/GetLeadCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LeadService">
    <wsdl:port name="BasicHttpBinding_ILead" binding="tns:BasicHttpBinding_ILead">
      <soap:address location="http://modernpractice2013.cloudapp.net/LeadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>