HubOne.XPM.PS/HubOne.XPM.PS/Service References/PurchaseOrderSvc/PurchaseOrderService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://modernpractice2013.cloudapp.net/PurchaseOrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" />
  <xs:element name="ClearCacheOfType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCacheOfTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentPurchaseOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="detailed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentPurchaseOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="GetCurrentPurchaseOrdersResult" nillable="true" type="q1:ArrayOfPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentPurchaseOrdersPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startPosition" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentPurchaseOrdersPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="GetCurrentPurchaseOrdersPagedResult" nillable="true" type="q2:ArrayOfPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="purchaseOrderID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaseOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="GetPurchaseOrderResult" nillable="true" type="q3:PurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDraftPurchaseOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="detailed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDraftPurchaseOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="GetDraftPurchaseOrdersResult" nillable="true" type="q4:ArrayOfPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobPurchaseOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobPurchaseOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="GetJobPurchaseOrdersResult" nillable="true" type="q5:ArrayOfPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPurchaseOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="detailed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPurchaseOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="GetAllPurchaseOrdersResult" nillable="true" type="q6:ArrayOfPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPurchaseOrdersPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="startPosition" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPurchaseOrdersPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="GetAllPurchaseOrdersPagedResult" nillable="true" type="q7:ArrayOfPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPurchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="purchaseOrder" nillable="true" type="q8:PurchaseOrder" />
        <xs:element minOccurs="0" name="accountKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPurchaseOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="AddPurchaseOrderResult" nillable="true" type="q9:PurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDraftPurchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="purchaseOrder" nillable="true" type="q10:PurchaseOrder" />
        <xs:element minOccurs="0" name="accountKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDraftPurchaseOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WorkFlowMAXService.WFMDataTypes" minOccurs="0" name="AddDraftPurchaseOrderResult" nillable="true" type="q11:PurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>